*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
}


.container{
    background-image: url("../img/background.png");
    background-size: cover;
    position: relative;
    align-items: center;
    height: 100vh; 

} 
.card-footer p{
    margin-left: 900px;
    color: mintcream;
     margin-bottom: 0px;
}
.card-footer{
margin-top: 120px;
} 