*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
}


.container{
    background-image: url("../img/background.png");
    background-size: cover;
    position: relative;
    align-items: center;
    height: auto;

}

